extends layout

block content

	- if (err) 
		.alert
			发生异常错误：#{err}
	- else
		- if (list.length)
			table.table
				thead
					th 名称
					th 最新版本
					th 描述
				tbody
					each item in list
						td
							a(href='/view/#{item.name}/#{item.version}') #{item.name}
						td= item.version
						td= item.description
		- else
			.alert
				button.close(type='button',data-dismiss='alert') &times;
				找不到包含 #{keyword} 的组件
