extends layout

block content

    h3 #{info.name} @ #{info.version}

        span.f14.m30 #{info.description}

    pre
        span tar 包下载: 
        a(href='#{info.dist.tarball}')  #{info.name}-#{info.version}.tgz

    .announce
        article.markdown-body !{readme}