extends layout

block content

    - if (err)

        .alert
            发生异常错误：#{err}

    - else

        h3 #{info.name} @ #{info.version}

            span.f14.m30 #{info.description}

        p.clearfix
            #rateit.pull-left.rateit(data-rateit-value="#{star.star||0}",data-rateit-step="1")  
            .pull-left.badge.badge-inverse #{star.count||0} 人投票

        p.clearfix

        pre
            - if( info.tags.length )
                p tags: 
                    span#tags #{info.tags.join(' , ')}
                    - if( ~info.config.author.indexOf(user) )
                        a#edit_tag.btn(href='#') 修改tag

            p author: #{info.config.author} &lt; #{info.config.email} &gt;
        
            - if( info.config.repository )
                p repository: 
                    a(href='#{info.config.repository}',target='_blank') #{info.config.repository}

            p docs:
                a.btn(href='/docs/#{info.name}/#{info.version}/',target='_blank') 查看
                - if( ~info.config.author.indexOf(user) )
                    a.create_doc.btn(href='#',data-doc-type='groc') 生成 groc doc 风格
                    a.create_doc.btn(href='#',data-doc-type='yuidoc') 生成 yui doc 风格
                    strong.text-error#create_doc_state

            - if( !info.config.dependencies && JSON.stringify(info.config.dependencies) != "{}" )
                p dependencies:
                    each val , key in (info.config.dependencies||{})
                        em.pad3 #{key}

        .announce
            article.markdown-body !{readme}

        p 
            h3 历史版本

            ul
                each val , ver in all.versions
                    li
                        a(href='/view/#{info.name}/#{ver}/') #{ver}


    #tageditor(style='display:none;')
        p 编辑 tags (以逗号分隔)
            input#tags(type='text',name='tags',data-pkgname="#{info.name}",value="#{info.tags.join(',')}")

block js
    script(type='text/javascript')

        $("#rateit").bind('rated', function (event, value) { 
            $.post( '/star/add/' , {
                name : '#{info.name}' ,
                username : '#{req.user}' , 
                level : value
            }, function( data ){
                data = eval("("+data+")");
                if( data.ret ) {
                    
                } else {
                    alert( data.errmsg )
                }
            })
        });

        var pkgname = '#{info.name}';
        var version = '#{info.version}'

        $(".create_doc").click(function(evt){
            $("#create_doc_state").html("创建中...");
            $.getJSON( '/' + [ 'createdoc' , pkgname , version ].join('/') + '?doctype=' + $(this).data('doc-type')  , function( data ){
                if( data.ret ) {
                    $("#create_doc_state").html("创建完成");
                } else {
                    alert( data.errmsg )
                }
            })
            return false;
        })

        function get_tags(){
            var s = $("input#tags").val().split(',');
            var _s = []
            for( var i = 0; i < s.length; i++ ) {
                _s.push( $.trim(s[i]) )
            }
            return _s;
        }

        function save_tag(){
            var tags = get_tags();

            $.getJSON('/update_tags/' + pkgname , {
                tags : tags.join(',')
            }, function( data ){
                if( data.ret ) {
                    $("span#tags").html( tags.join(' , ') )
                    $("#tageditor").dialog('close')
                } else {
                    alert( data.errmsg )
                }
            })
        }

        $("#tageditor").dialog({
            autoOpen: false , 
            modal: true ,
            buttons: {
                '确定' : function(){
                    save_tag()
                } , 
                '取消' : function(){
                    $("#tageditor").dialog('close')
                }
            }
        });

        $("input#tags").keypress(function(evt){
            if( evt.keyCode == 13 ) {
                save_tag();
            }
        })

        $("#edit_tag").click(function(evt){
            $("#tageditor").dialog('open');
            return false;
        });
