extends layout

block content

    - if (err)

        .alert
            发生异常错误：#{err}

    - else

        h3 #{info.name} @ #{info.version}

            span.f14.m30 #{info.description}

        pre
            p #{info.config.author} &lt; #{info.config.email} &gt;
            p tar下载: 
                a(href='#{info.dist.tarball}') #{info.name}-#{info.version}.tgz
            p 依赖:
                each val , key in info.config.dependencies
                    em.pad3 #{key}
            p 文档:
              a(href='/docs/#{info.name}/#{info.version}/')  查看

        .announce
            article.markdown-body !{readme}

        p 
            h3 历史版本

            ul
                each val , ver in all.versions
                    li
                        a(href='/view/#{info.name}/#{ver}/') #{ver}