extends layout

block content

    - if (err)

        .alert
            发生异常错误：#{err}

    - else

        h3 #{info.name} @ #{info.version}

            span.f14.m30 #{info.description}

        pre
            p tags: 
                span#tags #{info.tags.join(' , ')}
                a#edit_tag.btn(href='#') 修改tag

            p author: #{info.config.author} &lt; #{info.config.email} &gt;
        
            p download: 
                a(href='#{info.dist.tarball}') #{info.name}-#{info.version}.tgz
            
            p docs:
                a.btn(href='/docs/#{info.name}/#{info.version}/',target='_blank') 查看
                a.create_doc.btn(href='#',data-doc-type='groc') 生成 groc doc 风格
                a.create_doc.btn(href='#',data-doc-type='yuidoc') 生成 yui doc 风格
                strong.text-error#create_doc_state

            p dependencies:
                each val , key in (info.config.dependencies||{})
                    em.pad3 #{key}

        .announce
            article.markdown-body !{readme}

        p 
            h3 历史版本

            ul
                each val , ver in all.versions
                    li
                        a(href='/view/#{info.name}/#{ver}/') #{ver}


    #tageditor(style='display:none;')
        p 编辑 tags (以逗号分隔)
            input#tags(type='text',name='tags',data-pkgname="#{info.name}",value="#{info.tags.join(',')}")

block js
    
    script(type='text/javascript')

        var pkgname = '#{info.name}';
        var version = '#{info.version}'

        $(".create_doc").click(function(evt){
            $("#create_doc_state").html("创建中...");
            $.getJSON( '/' + [ 'createdoc' , pkgname , version ].join('/') + '?doctype=' + $(this).data('doc-type')  , function( data ){
                if( data.ret ) {
                    $("#create_doc_state").html("创建完成");
                } else {
                    alert( data.errmsg )
                }
            })
            return false;
        })

        function get_tags(){
            var s = $("input#tags").val().split(',');
            var _s = []
            for( var i = 0; i < s.length; i++ ) {
                _s.push( $.trim(s[i]) )
            }
            return _s;
        }

        function save_tag(){
            var tags = get_tags();

            $.getJSON('/update_tags/' + pkgname , {
                tags : tags.join(',')
            }, function( data ){
                if( data.ret ) {
                    $("span#tags").html( tags.join(' , ') )
                    $("#tageditor").dialog('close')
                } else {
                    alert( data.errmsg )
                }
            })
        }

        $("#tageditor").dialog({
            autoOpen: false , 
            modal: true ,
            buttons: {
                '确定' : function(){
                    save_tag()
                } , 
                '取消' : function(){
                    $("#tageditor").dialog('close')
                }
            }
        });

        $("input#tags").keypress(function(evt){
            if( evt.keyCode == 13 ) {
                save_tag();
            }
        })

        $("#edit_tag").click(function(evt){
            $("#tageditor").dialog('open');
            return false;
        });
